h1{
	padding: 2rem;
	font-size: 3rem;
	text-align: center;
}

section > p{
	/*white-space: pre-wrap !important;*/
	color: grey;
	white-space: pre-wrap;
	margin-bottom: 2rem;
	text-indent: 2rem;
}

section img{
	width: 320px;
	float: left;
	padding-right: 1rem;
	padding-bottom: 1rem;
}