*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
	color: #fff;
}

a{
	text-decoration: none;
}

/*a{
	color: #fff;
}*/

body{
	background-color: #292929;
}

.content{
	max-width: 1024px;
	margin: 0 auto;
}

.posts{
	display: flex;
	justify-content: space-around;
}